!!!
%html
  %head
    %title CMOA Museum Provenance


    %link{:rel => :stylesheet, :type => :"text/css", :href => "/css/libraries/bootstrap/bootstrap.css"}
    %link{:rel => :stylesheet, :type => :"text/css", :href => "/css/libraries/bootstrap-switch/bootstrap-switch.css"}
    %link{:rel => :stylesheet, :type => :"text/css", :href => "/css/libraries/leaflet/leaflet.css"}
    %link{:rel => :stylesheet, :type => :"text/css", :href => "/css/app.css"}
    %link{:rel => :stylesheet, :type => :"text/css", :href => "/css/animations.css"}

  %body
    .navbar.navbar-inverse.navbar-fixed-top
      .container
        .navbar-header
          %a.navbar-brand CMOA Museum Provenance  
    .container
      .row
        .col-md-12
          =yield

  %script{src: "/js/libraries/jquery/jquery.js"}
  %script{src: "/js/libraries/moment/moment.js"}
  %script{src: "/js/libraries/bootstrap-switch/bootstrap-switch.js"}
  // %script{src: "/js/libraries/typeahead.js/typeahead.bundle.js"}
  %script{src: "/js/libraries/handlebars/handlebars.js"}
  %script{src: "/js/libraries/ember/ember.js"}
  %script{src: "/js/libraries/ember/ember-data.js"}
  %script{src: "/js/libraries/leaflet/leaflet-src.js"}
  %script{src: "/js/libraries/ember-leaflet/ember-leaflet.js"}
  %script{src: "/js/libraries/d3/d3.js"}
  
  %script{src: "/js/ember-app.js"}
  %script{src: "/js/animations.js"}

