body {
  padding-top: 50px; }

a {
  color: #88a000; }

.twitter-typeahead {
  width: 100%; }

.tt-dropdown-menu {
  border: 1px solid #666;
  border-top: 0px;
  border-radius: 0 0 5px 5px;
  box-shadow: 3px 3px 3px #666;
  width: 100%;
  background: #ffffff; }

.tt-cursor {
  background: #aaaaaa; }

.provenance_party:hover {
  text-decoration: none; }
.provenance_party.problem {
  color: red;
  font-style: italic; }

.provenance_party.selected {
  font-weight: bold;
  color: #2a6496; }

.extended_fields {
  display: none; }

#full_results {
  display: none; }
