<div class = 'navbar navbar-inverse'>
  <div class='container'>
    <div class='navbar-header'>
      <a class='navbar-brand' href="/">
        <img src="/images/elysa_small2.png">
      </a>
    </div>
    <div class='collapse navbar-collapse'>
      <ul class='nav navbar-nav navbar-right'>
        <li> <a href="/docs">Documentation</a> </li>
      </ul>
    </div>
  </div>
</div>
{{outlet}}
<footer id="fixed_footer">
  <div class='container'>
    <p>
      Art Tracks is a project of the Carnegie Museum of Art,
      with additional funding via a grant from <a href='http://www.imls.gov/'>IMLS</a>.<br>
      Copyright &copy; 2014 CMOA. All rights reserved.
      <!-- For more information, contact <a href='mailto:newburyd@cmoa.org'>the developer</a>. -->
    </p>
  </div>
</footer>
