.timeline-holder
  background-color: #fff
  border-radius: 5px
  margin-left: 15px
  margin-right: 15px

.timeline-svg
  width: 100%
.exhibitions
  .exhibition_text
    font: 10px sans-serif
    font-weight: bold
    fill: #333
    stroke: none
  .exhibition
    fill: lightgrey
    opacity: 1
    &.external
      fill: grey

.periods div
  font: 10px sans-serif
  background-color: steelblue
  text-align: right
  padding: 3px
  margin: 1px
  color: white

.periods .possible_bounds
  fill: lighten(desaturate(#428bca, 30),10)

.periods .definite_bounds
  fill: black

.periods .start_of_definite
  fill: black

.periods text 
  fill: #444
  font: 10px sans-serif
  text-anchor: front
  &.active
    font-weight: bold
    font-size: 13px
    fill: black

.lifespan
  fill: none
  stroke: #428bca  
.lifespan-nodeath
  fill: none
  stroke: #428bca  
  stroke-dasharray: 5,5

.creation-line
  stroke: green
  stroke-width: 1
  stroke-dasharray: 5,5
  opacity: .5
