.periods div
  font: 10px sans-serif
  background-color: steelblue
  text-align: right
  padding: 3px
  margin: 1px
  color: white

.periods .possible_bounds
  fill: lightgrey

.periods .definite_bounds
  fill: black

.periods .start_of_definite
  fill: black

.periods text 
  fill: black
  font: 10px sans-serif
  text-anchor: front

.lifespan
  fill: none
  stroke: #d2d2d2 
