// Colors:
$GREEN: #1C8805
$PALE_GREY: #f5f5f5
$PALE_GRAY: $PALE_GREY
$LIGHT_GRAY: #ddd
$LIGHT_GREY: $LIGHT_GRAY
$RED: red
$BOOTSTRAP_BLUE:  #428bca 
$MEDIUM_GRAY: #BBB
$MEDIUM_GREY: $MEDIUM_GRAY
$HEADER_COLOR: #2d2d2d
$BACKGROUND-BLUE: #294866

// SIZES

$FOOTER_SIZE: 30px

// GENERAL THINGS

.navbar-inverse
  background-color: $HEADER_COLOR
  padding: 4px 0
  border-radius: 0
  .navbar-nav > li > a
    color: #ddd 
html
  min-height: 100%
  position: relative
  background-color: $HEADER_COLOR


.navbar-brand img
  margin-top: -14px
  //margin-left: -12px
  //margin-right: 12px

#main_content
  padding-top: 20px
  padding-bottom: 60px

#primary_content
  padding-bottom: 20px

#secondary_content
  padding-top: 40px
  padding-bottom: 20px
  background-color: $BACKGROUND-BLUE
  border-top: 3px solid $BOOTSTRAP_BLUE

#fixed_footer
  width: 100%
  background: $HEADER_COLOR
  border-top: 2px solid #666
  margin-left: 0
  margin-right: 0
  color: white
  a
    color: #ddd
  p
    margin-top: 8px
    font-size: 80%
    text-align: center

.no-content
  text-align: center
  margin-top: 7%
  color: grey
  font-size: 90%
  
// HEADER
.artwork-thumbnail
  width: 100%
  margin-right: .5em
  margin-bottom: 4px
  margin-left: -15px

.provenance-copy-button-holder
  margin-bottom: 10px
// PROVENANCE TEXT PANEL
// #provenance-text-copy
//   position: absolute
//   right: 0
//   top: 0
//   border-color: $LIGHT_GRAY
//   border-right: none
//   border-top: none
//   border-radius: 0px 4px
//   background-color: $PALE_GREY
//   min-width: 3.5em
//   outline: transparent


.provenance-text
  margin-bottom: 10px
  margin-top: 5px  
  position: relative
  .panel-body
    padding: 10px 3.25em 10px 15px
  .provenance_line
    text-decoration: none
    padding: 0 2px
    line-height: 170%
    &:hover, &:focus
      text-decoration: none
    color: #888
    &.active
      color: black
      background: lighten($BOOTSTRAP_BLUE,30%)
      padding: 2px
      margin: -2px 0
      border-radius: 4px
    &.party-is-blank, &.unparsable
      color: $RED
      font-weight: 600

    &.updated.unparsable
      color: $GREEN
      font-weight: 500
.original-text
  .form-group
    background-color: #333
  .removed 
    color: $RED
  .added
    color: $GREEN
// TABS
.nav-tabs > li 
  margin-right: 2px

.nav-tabs > li > a,
.nav-tabs > li > a:hover,
.nav-tabs > li > a:focus 
  background-color: #679dc4
  color: white
  border-bottom: 0px solid
.nav-tabs > li > a:hover
  border-color: transparent
  
.better-tab
  margin-bottom: 40px
  .nav
    margin: 0 5px



  li a
    padding: 3px 15px  
    &.active
      color: inherit
  .tab-pane
    background-color: white
    border: 1px solid $LIGHT_GRAY
    border-top: none
    border-radius:  5px
    padding: 0 5px 20px 5px
    &#fulltext, &#exhibitions, &#location-lookup, &#party-lookup > .row
      padding: 10px

// Exhibition Detail
#exhibitions > .row
  max-height: 290px
  overflow-y: scroll

.exhibition-detail
  border-bottom: 1px solid $MEDIUM_GREY
  margin: 0 10px
  padding: 0
  &.external
    background-color: $PALE_GRAY
  .title
    font-weight: bold
    font-size: 90%


// HELP POPOVERS
.popover-title
  font-weight: bold
.help
  color: white
  background: $MEDIUM_GREY
  width: 1em
  height: 1em
  display: inline-block
  font-size: 79%
  line-height: 1em
  text-align: center
  border-radius: 20px
  top: -.1em
  position: relative
  &:hover, &:active, &:focus
    text-decoration: none
    color: white
    outline: none

#period-fields
  .inline-editor-label
    font-size: 95%
    margin-bottom: 8px    
    color: #757575
    font-weight: 400

h4.compact
  font-size: 110%
  margin-top: 2px
  margin-bottom: 2px
h3.compact
  margin-top: 0px
hr.compact
  margin: 0px 0 12px 0
.form-group.compact
  bottom: -16px
  position: relative


// Typeahead
.twitter-typeahead
  width: 100%
.tt-dropdown-menu
  border: 1px solid #666 
  border-top: 0px
  border-radius: 0 0 5px 5px
  box-shadow: 3px 3px 3px #666
  width: 100%
  background: #ffffff
.tt-cursor
  background: #aaaaaa

.unparsable
  color: red
  font-style: italic
  font-weight: 500
.disabled
  color: slategrey
.updated .unparsable, .updated.unparsable
  color: $GREEN
  font-style: normal
  font-weight: 500
.active .unparsable 
  color: white



//-------- LEFT NAV -------------------------

.party-list-nav
  list-style: none
  padding-left: 0
  background-color: lighten($BOOTSTRAP_BLUE,30%)
  border-radius: 4px
  li
    background-color: #fff
  li:first-child
    border-radius: 4px 4px 0 0
  li:last-child
    border-radius: 0 0 4px 4px
    border-bottom: 0px transparent !important
  li:first-child:last-child
    border-radius: 4px
  li.ui-sortable-helper
    background-color: lighten($BOOTSTRAP_BLUE,20%)
    border-radius: 0
    .direct-transfer-arrow, &:hover .badge
      display: none 
  li.active
    background-color: $BOOTSTRAP_BLUE
  li.direct
    border-bottom: 1px solid lighten($BOOTSTRAP_BLUE,30%)

  li.indirect
    border-bottom: 4px dashed lighten($BOOTSTRAP_BLUE,20%)

  .party-list-nav-item 
    padding: 8px 15px
    display: block
    position: relative
  
  .party-list-nav-item:hover
    .badge
      display: block
  a.provenance_party
    color: #888
    display: inline-block
    width: 100%
    padding-right: 12px
    &:focus, &:hover
      text-decoration: none    
    &.active
      font-weight: bold
      color: white
      &:after
        position: absolute
        width: 0px
        height: 0px
        top: 5px 
        left: 100%
        content: ""
        border-top: 13px transparent solid    
        border-left: 13px $BOOTSTRAP_BLUE solid
        border-bottom: 13px transparent solid

  // --- ARROWS ----
  .active .direct-transfer-arrow
    border-top-color:  darken($BOOTSTRAP_BLUE,10%)
    &:before
      background-color: darken($BOOTSTRAP_BLUE,10%)
  .party-list-nav li:last-child .direct-transfer-arrow
    display: none
  .direct-transfer-arrow
    &.disabled
      opacity: 0.15
    $ARROW_SIZE: 6px
    $BAR_HEIGHT: 4px
    width: 0
    height: 0
    border-left: $ARROW_SIZE solid transparent
    border-right: $ARROW_SIZE solid transparent
    border-top: $ARROW_SIZE solid #aaa
    bottom: -($ARROW_SIZE)
    left: 0px
    z-index: 5
    position: absolute
    cursor: pointer
    &:before
      content: ""
      width: $ARROW_SIZE
      height: $BAR_HEIGHT
      background: #aaa
      position: absolute
      left: -($ARROW_SIZE/2)
      bottom: $ARROW_SIZE


  .badge
    display: none
    font-size: 70%
    border-radius: 20px
    padding: 3px 4px
    cursor: pointer
    position: absolute
    right: 4px
    top: 2px
    background-color: $PALE_GREY
    color: #777
  .active .badge
    background-color: darken($BOOTSTRAP_BLUE,20%)
    color: white


.extended_fields
  display: none
  &.visible
    display: block

#full_results
  display: none

#provenance_map
  .leaflet-container
    height: 250px
.click_to_edit
  cursor: pointer
  &.disabled
    color: lightgrey

.inline-editor-label
  text-align: right
.form-compact
  margin-bottom: 1.5em
  .form-group
    margin-bottom: 0


#artwork-title
  font-weight: 300
  margin-bottom: 12px

#artist-name
  margin-bottom: 8px
  font-size: 16px
  font-weight: 400

#accession-number
  font-style: italic
  font-size: 16px
  font-weight: 400

.bottom-buttons
  padding-top: 20px
  text-align: center

#footnote-holder
  padding-top: 8px

#provenance-nav-heading label
  color: white
  font-size: 120%
  font-weight: 400
  padding-bottom: 0
  .help
    display: none