// Colors:
$GREEN: #1C8805
$PALE_GREY: #f5f5f5
$PALE_GRAY: $PALE_GREY
$LIGHT_GRAY: #ddd
$LIGHT_GREY: $LIGHT_GRAY
$RED: red
$BOOTSTRAP_BLUE:  #428bca 
$MEDIUM_GRAY: #BBB
$MEDIUM_GREY: $MEDIUM_GRAY

// SIZES

$FOOTER_SIZE: 30px

// GENERAL THINGS
html
  min-height: 100%
  position: relative
body 
  padding-top: 60px
  margin-bottom: $FOOTER_SIZE

.navbar-brand img
  margin-top: -14px
  margin-left: -12px
  margin-right: 12px
#main_content
  padding-bottom: 60px

#fixed_footer
  position: absolute
  bottom: 0
  width: 100%
  height: $FOOTER_SIZE
  background: $MEDIUM_GREY
  margin-left: 0
  margin-right: 0
  p
    margin-top: 8px
    font-size: 80%
    text-align: center

.no-content
  text-align: center
  margin-top: 7%
  color: grey
  font-size: 90%
  
// HEADER
.artwork-thumbnail
  height: 90px
  margin-right: .5em
  margin-bottom: 4px
  margin-left: -15px

// PROVENANCE TEXT PANEL
#provenance-text-copy
  position: absolute
  right: 0
  top: 0
  border-color: $LIGHT_GRAY
  border-right: none
  border-top: none
  border-radius: 0px 4px
  background-color: $PALE_GREY
  min-width: 3.5em
  outline: transparent

.provenance-text
  margin-bottom: 10px
  margin-top: 5px  
  position: relative
  .panel-body
    padding: 10px 3.25em 10px 15px
  .provenance_line
    text-decoration: none
    padding: 0 2px
    &:hover, &:focus
      text-decoration: none
    color: #888
    &.active
      color: black
      background: lighten($BOOTSTRAP_BLUE,40%)
      padding: 2px 4px
      margin: -2px
      border-radius: 4px
    &.party-is-blank, &.unparsable
      color: $RED
    &.updated.unparsable
      color: $GREEN
.original-text
  .removed 
    color: $RED
  .added
    color: $GREEN
// TABS
.better-tab
  li a
    color: $MEDIUM_GREY
    padding: 3px 15px  
    &.active
      color: inherit
  .tab-pane
    background-color: white
    border: 1px solid $LIGHT_GRAY
    border-top: none
    border-radius:  5px
    padding: 0 5px 20px 5px
    &#fulltext, &#exhibitions, &#location-lookup, &#party-lookup > .row
      padding: 10px

// Exhibition Detail
#exhibitions > .row
  max-height: 290px
  overflow-y: scroll

.exhibition-detail
  border-bottom: 1px solid $MEDIUM_GREY
  margin: 0 10px
  padding: 0
  &.external
    background-color: $PALE_GRAY
  .title
    font-weight: bold
    font-size: 90%


// HELP POPOVERS
.popover-title
  font-weight: bold
.help
  color: white
  background: lightgray
  width: 1em
  height: 1em
  display: inline-block
  font-size: 79%
  line-height: 1em
  text-align: center
  border-radius: 20px
  margin-left: -0.25em
  top: -.1em
  position: relative
  &:hover, &:active, &:focus
    text-decoration: none
    color: white
    outline: none

#period-fields
  .inline-editor-label
    font-size: 95%
    margin-bottom: 8px    

h4.compact
  font-size: 110%
  margin-top: 2px
  margin-bottom: 2px
h3.compact
  margin-top: 0px
hr.compact
  margin: 0px 0 12px 0
.form-group.compact
  bottom: -16px
  position: relative


// Typeahead
.twitter-typeahead
  width: 100%
.tt-dropdown-menu
  border: 1px solid #666 
  border-top: 0px
  border-radius: 0 0 5px 5px
  box-shadow: 3px 3px 3px #666
  width: 100%
  background: #ffffff
.tt-cursor
  background: #aaaaaa

.unparsable
  color: red
  font-style: italic
.disabled
  color: slategrey
.updated .unparsable, .updated.unparsable
  color: $GREEN
  font-style: normal
.active .unparsable 
  color: white



#party-list
  min-height: 265px
  .ui-sortable-helper
    background-color: lighten($BOOTSTRAP_BLUE,40%)
    .direct-transfer-arrow, .badge
      display: none
.party-list-nav
  a
    color: #888
  .provenance_party

    display: inline-block
    width: 100%
    padding-right: 12px
    &:focus
      text-decoration: none    

    &.active
      font-weight: bold
      color: white
      &:after
        position: absolute
        width: 32px
        height: 33%
        top: 33%
        background-color: $BOOTSTRAP_BLUE
        background: linear-gradient(to right, rgba(66,139,202,1) 0%,rgba(125,185,232,0) 100%)
        background: -webkit-linear-gradient(left, rgba(66,139,202,1) 0%,rgba(125,185,232,0) 100%)
        left: 100%
        content: ""
        border-left: 1px darken($BOOTSTRAP_BLUE,20%) dotted
        opacity: .25
        border-right: 1px rgba(darken($BOOTSTRAP_BLUE,20%),.5) dotted

    &:hover
      text-decoration: none
  .active .direct-transfer-arrow
    border-top-color:  darken($BOOTSTRAP_BLUE,10%)
    &:before
      background-color: darken($BOOTSTRAP_BLUE,10%)
  .party-list li:last-child .direct-transfer-arrow
    display: none
  .direct-transfer-arrow
    &.disabled
      opacity: 0.15
    $ARROW_SIZE: 6px
    $BAR_HEIGHT: 4px
    width: 0
    height: 0
    border-left: $ARROW_SIZE solid transparent
    border-right: $ARROW_SIZE solid transparent
    border-top: $ARROW_SIZE solid #aaa
    bottom: -($ARROW_SIZE)
    left: 0px
    z-index: 5
    position: absolute
    cursor: pointer
    &:before
      content: ""
      width: $ARROW_SIZE
      height: $BAR_HEIGHT
      background: #aaa
      position: absolute
      left: -($ARROW_SIZE/2)
      bottom: $ARROW_SIZE


  .badge
    display: none
    font-size: 70%
    border-radius: 20px
    padding: 3px 4px
    cursor: pointer
    position: absolute
    right: 4px
    top: 2px
    background-color: $PALE_GREY
    color: #777
  .active .badge
    background-color: darken($BOOTSTRAP_BLUE,20%)
    color: white
  .list-group-item
    padding: 3px 15px
  .panel-heading
    padding: 3px 15px 0px  
  .list-group-item:hover
    .badge
      display: block

.extended_fields
  display: none
  &.visible
    display: block

#full_results
  display: none

#provenance_map
  .leaflet-container
    height: 250px
.click_to_edit
  cursor: pointer
  &.disabled
    color: lightgrey

.inline-editor-label
  text-align: right
.form-compact
  margin-bottom: 1.5em
  .form-group
    margin-bottom: 0
