<div class="form-group ">
  <label class="col-sm-4 inline-editor-label">{{label}}</label>
  <div class='col-sm-8'>
    {{view "acqusition_select" 
        content=acq_methods 
        selection=val 
        class='form-control input-sm'
        prompt="select a method"
    }}
  </div>
</div>