<div class="form-group ">
  {{help-label label=label help=help}}
  <div class='col-sm-8'>
    {{view "dynamic_select" 
        content=acq_methods 
        selection=val 
        class='form-control input-sm'
        prompt="select a method"
        tabindex=tabstop
    }}
  </div>
</div>