<div class="form-group ">
  {{help-label label=label help=help_text}}
  <div class='col-sm-8'>
    {{input type="checkbox" tabindex=tabstop name=label checked=status disabled=disabled data-size=size data-on-text=onText data-off-text=offText}}
  </div>
</div>

