<div class="form-group ">
  <label class="col-sm-4 inline-editor-label">{{label}}</label>
  <div class='col-sm-8'>
    {{input type="checkbox" tabindex=tabstop name=label checked=status disabled=disabled data-size=size data-on-text=onText data-off-text=offText}}
  </div>
</div>

