{{#link-to 'period' id class='provenance_party'}}
<span {{bind-attr class='parsable::unparsable'}}>
  {{name}}
</span>
{{/link-to}}
<span class="badge" {{action 'delete' id}}><span class="glyphicon glyphicon-remove"></span></span>