<div class="panel panel-default party-list-nav">

  <div class="panel-heading">{{help-label size="" label="Provenance Party Records" help=provenance_nav_help}}</div>
  {{!-- <div class="panel-body">
  </div> --}}

  <ul class="list-group party-list" id="party-list">
    {{#each periods}}
    <li {{bind-attr class="active updated :list-group-item" id=id}}>
      {{party-list-nav-item parsable=parsable id=id name=partyName primary=primary delete="delete" open="open"}}  
    </li>
    {{/each}}
  </ul>

  <div class="panel-footer">
    <button {{action 'addParty'}} class="btn btn-default btn-xs btn-block add_party">
      Add a Party
    </button>
  </div>

</div>