<div class="panel panel-default party-list-nav">

  {{!-- <div class="panel-heading"> <h5> Parties</h5></div> --}}
  {{!-- <div class="panel-body">
    <p>...</p>
  </div> --}}

  <ul class="list-group party-list" id="party-list">
    {{#each periods}}
    <li {{bind-attr class="active updated :list-group-item" id=id}}>
      {{party-list-nav-item parsable=parsable id=id name=partyName primary=primary delete="delete" open="open"}}  
    </li>
    {{/each}}
  </ul>

  <div class="panel-footer">
    <button {{action 'addParty'}} class="btn btn-default btn-xs btn-block add_party">
      Add a Party
    </button>
  </div>

</div>