
<div id="provenance-nav-heading">{{help-label size="" label="Provenance Party Records  " help=provenance_nav_help}}</div>

<ul class="party-list-nav" id="party-list">
  {{#each periods}}
  <li {{bind-attr class="active updated direct_transfer:direct:indirect" id=id}}>
    {{party-list-nav-item parsable=parsable id=id name=partyName primary=primary direct=direct_transfer toggle_transfer="toggle_transfer" delete="delete" open="open"}}  
  </li>
  {{/each}}
</ul>

<button {{action 'addParty'}} class="btn btn-default btn-sm btn-info add_party">
  <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
  Add a Party
</button>
