<div class="form-group ">
  <label class="col-sm-4 inline-editor-label">{{label}}</label>
  <div class='col-sm-8'>
    {{view "dynamic_select" 
        content=precisions
        optionLabelPath= 'content.name'
        optionValuePath= 'content.id'
        selection=val 
        class='form-control input-sm'
        prompt="select a precision"
    }}
  </div>
</div>